#topicList
{
    list-style-type: none;
    position:relative;
}
h3{
    font-size: 5vh;
}
p{
    font-size: 2.5vh;
}
.blenderImg
{

    width: 99%;
    border-radius: 2.5%;
}
#bob
{
    width: 400px;
    height: 400px;
}
#bobMain
{
    background-color: #46B3EB;
    border: 0.25em solid #F2C85C;
    float: left;
    width: 90%;
    left: 5vh;
    top: 5vh;
    margin-top: 7.5vh;
    margin-left: 7.5vh;
    padding-top: 10px;
    padding-left: 10px;
    color: #E86364;
    font-size: 2vh;
}
@keyframes rainbow
{
    0%{
        color: red;

        border-color: red;
    }
    20%{
        color: orange;

        border-color: orange;
    }
    40%{
        color: green;

        border-color: green;
    }
    60%{
        color: blue;

        border-color: blue;
    }
    80%{
        color: purple;

        border-color: purple;
    }
    100%{
        color: red;

        border-color: red;
    }
}
#rubixMain
{
    background-color: rgb(25, 25, 25);
    animation-name: rainbow;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    border: 0.25em solid rgb(50, 50, 50);
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(50, 50, 50);
    font-size: 2vh;
}
#reference{
    margin-top: 1vh;
}
#bio{
    margin-top: 1vh;
    width: 50px;
    height: 50px;
    filter: invert(1);
}
#main{
    background-color: turquoise;
}